Repository ryanwclark1/fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-http-exception, logging-pattern-check, openapi-docs-check

no-http-exception:
  name: Check for HTTPException in feature routers
  entry: python tools/linting/no_http_exception.py
  language: python
  pass_filenames: true

logging-pattern-check:
  name: Check service logging patterns
  entry: python tools/linting/logging_checks.py
  language: python
  pass_filenames: true

openapi-docs-check:
  name: Check OpenAPI endpoint documentation
  entry: python tools/linting/openapi_checks.py
  language: python
  pass_filenames: true
  verbose: true

Update to test coverage and ci pipeline
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  pyproject.toml
  tests/examples/README.md
  tests/unit/test_app/test_docs.py
  tests/unit/test_app/test_main.py
  tests/unit/test_core/test_search.py
  tests/unit/test_features/test_audit_decorators.py
  tests/unit/test_features/test_datatransfer_exporters.py
  tests/unit/test_features/test_datatransfer_service.py
  tests/unit/test_features/test_featureflags.py
  tests/unit/test_features/test_search_service.py
  tests/unit/test_features/test_tasks_service.py
  tests/unit/test_middleware/test_debug.py
  tests/unit/test_middleware/test_rate_limit.py
  tests/unit/test_middleware/test_size_limit.py
  uv.lock
Due: none

Improved strcture for routers and repos
  docs/development/feature-template.md
  example_service/features/datatransfer/router.py
  example_service/features/featureflags/router.py
  example_service/features/files/router.py
  example_service/features/reminders/repository.py
  example_service/features/reminders/router.py
  example_service/features/tags/__init__.py
  example_service/features/tags/repository.py
  example_service/features/tags/router.py
  example_service/features/tags/service.py
  example_service/features/tasks/router.py
  example_service/features/webhooks/router.py
  pyproject.toml
  tests/unit/test_features/test_search_cache.py
  tests/unit/test_features/test_search_service.py
  tests/unit/test_features/test_tasks/test_router.py
  tests/unit/test_middleware/test_i18n.py
  tests/unit/test_middleware/test_metrics.py
  tests/unit/test_middleware/test_request_logging.py
Due: no-http-exception, logging-pattern-check, openapi-docs-check

feat: update testing configuration and enhance middleware functionality
  pyproject.toml
  tests/unit/test_features/test_audit/test_service.py
  tests/unit/test_middleware/test_request_logging.py
  tests/unit/test_middleware/test_tenant.py
Due: none

feat: update testing configuration and enhance test coverage
  .env.example
  .env.generated
  TEST_COVERAGE_REVIEW.md
  alembic/env.py
  example_service/cli/commands/config.py
  pyproject.toml
Due: none

feat: refactor Dockerfile for multi-stage builds and environment setup
  Dockerfile
Due: none

feat: enhance task execution architecture and add analytics features
  TASKS_GUIDE.md
  example_service/app/middleware/__init__.py
  example_service/app/middleware/tenant.py
  example_service/core/dependencies/tenant.py
  example_service/core/settings/ai.py
  example_service/features/audit/__init__.py
  example_service/features/audit/decorators.py
  example_service/features/audit/models.py
  example_service/features/audit/repository.py
  example_service/features/audit/router.py
  example_service/features/audit/schemas.py
  example_service/features/audit/service.py
  example_service/infra/ai/capabilities/adapters/accent_redaction.py
  example_service/infra/ai/capabilities/adapters/anthropic.py
  example_service/infra/ai/capabilities/adapters/openai.py
  example_service/infra/ai/providers/__init__.py
  example_service/infra/ai/providers/assemblyai_provider.py
  example_service/infra/ai/providers/base.py
  example_service/infra/ai/providers/factory.py
  example_service/infra/ai/providers/openai_provider.py
  example_service/infra/tasks/README.md
  example_service/infra/tasks/broker.py
  example_service/infra/tasks/scheduler.py
  example_service/main.py
  example_service/workers/__init__.py
  example_service/workers/analytics/__init__.py
  example_service/workers/analytics/tasks.py
  example_service/workers/examples/advanced_patterns.py
  example_service/workers/reports/__init__.py
  example_service/workers/reports/tasks.py
  pyproject.toml
  tests/unit/test_middleware/test_tenant.py
Due: no-http-exception, logging-pattern-check, openapi-docs-check

feat: add multi-tenancy architecture documentation and update README
  docs/README.md
  docs/architecture/multi-tenancy.md
  tests/unit/test_core/test_tenant_dependency.py
Due: none

refactor: clean up imports and remove unused code
  example_service/app/lifespan.py
  example_service/core/dependencies/tenant.py
  example_service/core/settings/_sanitizers.py
  example_service/core/validators/__init__.py
  example_service/core/validators/common.py
  example_service/core/validators/rrule.py
  example_service/core/validators/webhooks.py
  example_service/features/webhooks/router.py
Due: no-http-exception, openapi-docs-check

feat: add bulk fix scripts for G004 logging errors
  example_service/app/lifespan/registry.py
  example_service/app/middleware/__init__.py
  example_service/app/middleware/correlation_id.py
  example_service/app/middleware/n_plus_one_detection.py
  example_service/app/middleware/request_logging.py
  example_service/app/router.py
  example_service/core/database/search/automation.py
  example_service/core/database/search/synonyms.py
  example_service/core/services/health.py
  example_service/core/settings/otel.py
  example_service/features/audit/decorators.py
  example_service/features/audit/service.py
  example_service/features/datatransfer/service.py
  example_service/features/email/router.py
  example_service/features/featureflags/service.py
  example_service/features/graphql/resolvers/featureflags_mutations.py
  example_service/features/graphql/resolvers/files_mutations.py
  example_service/features/graphql/resolvers/mutations.py
  example_service/features/graphql/resolvers/tags_mutations.py
  example_service/features/graphql/resolvers/webhooks_mutations.py
  example_service/features/graphql/schema_composer.py
  example_service/features/search/cache.py
  example_service/features/search/service.py
  example_service/features/storage/router.py
  example_service/infra/ai/providers/assemblyai_provider.py
  example_service/infra/ai/providers/factory.py
  example_service/infra/cache/strategies.py
  example_service/infra/database/alembic.py
  example_service/infra/email/client.py
  example_service/infra/email/enhanced_service.py
  example_service/infra/email/providers/factory.py
  example_service/infra/resilience/circuit_breaker.py
  example_service/infra/storage/client.py
  example_service/infra/tracing/opentelemetry.py
  fix_g004_bulk.py
  fix_g004_simple.py
Due: no-http-exception, logging-pattern-check, openapi-docs-check

refactor: simplify lifespan to single-file structure
  example_service/app/lifespan.py
  example_service/app/lifespan/__init__.py
  example_service/app/lifespan/ai.py
  example_service/app/lifespan/cache.py
  example_service/app/lifespan/core.py
  example_service/app/lifespan/database.py
  example_service/app/lifespan/discovery.py
  example_service/app/lifespan/health.py
  example_service/app/lifespan/messaging.py
  example_service/app/lifespan/outbox.py
  example_service/app/lifespan/registry.py
  example_service/app/lifespan/storage.py
  example_service/app/lifespan/task_tracking.py
  example_service/app/lifespan/tasks.py
  example_service/app/lifespan/websocket.py
  pyproject.toml
  tests/unit/test_app/test_lifespan.py
  tests/unit/test_app/test_lifespan_flow.py
Due: none

refactor: restructure email feature with repository and service layers
  example_service/core/models/__init__.py
  example_service/core/models/email_config.py
  example_service/features/admin/email/router.py
  example_service/features/email/__init__.py
  example_service/features/email/dependencies.py
  example_service/features/email/models.py
  example_service/features/email/repository.py
  example_service/features/email/router.py
  example_service/features/email/schemas.py
  example_service/features/email/service.py
  tests/unit/test_features/test_email/test_router.py
Due: no-http-exception, logging-pattern-check, openapi-docs-check

feat(datatransfer): add comprehensive improvements to data transfer feature
  example_service/core/settings/__init__.py
  example_service/core/settings/datatransfer.py
  example_service/core/settings/loader.py
  example_service/features/datatransfer/__init__.py
  example_service/features/datatransfer/exporters.py
  example_service/features/datatransfer/importers.py
  example_service/features/datatransfer/router.py
  example_service/features/datatransfer/schemas.py
  example_service/features/datatransfer/service.py
Due: no-http-exception, logging-pattern-check, openapi-docs-check

refactor: standardize on ACL-based auth, remove role-based patterns
  example_service/core/dependencies/__init__.py
  example_service/core/dependencies/auth.py
  example_service/core/schemas/auth.py
  example_service/features/audit/router.py
  example_service/features/datatransfer/router.py
  example_service/features/featureflags/dependencies.py
  example_service/features/featureflags/router.py
  example_service/features/graphql/permissions.py
  example_service/features/graphql/router.py
  example_service/features/search/router.py
  example_service/features/storage/dependencies.py
Due: no-http-exception, openapi-docs-check

feat: add tenant context to ACL pattern matching
  example_service/core/acl/access_check.py
  example_service/core/dependencies/tenant.py
  example_service/core/schemas/auth.py
  example_service/features/graphql/permissions.py
  example_service/infra/auth/accent_auth.py
Due: none

feat(email): add cursor pagination, exceptions, validation, and unit tests
  example_service/features/admin/email/dependencies.py
  example_service/features/admin/email/router.py
  example_service/features/admin/email/service.py
  example_service/features/email/exceptions.py
  example_service/features/email/repository.py
  example_service/features/email/router.py
  example_service/features/email/schemas.py
  example_service/features/email/service.py
  tests/unit/test_features/test_email/test_repository.py
  tests/unit/test_features/test_email/test_service.py
Due: no-http-exception, logging-pattern-check, openapi-docs-check

feat(datatransfer): add advanced features for data transfer operations
  example_service/features/datatransfer/__init__.py
  example_service/features/datatransfer/audit.py
  example_service/features/datatransfer/cleanup.py
  example_service/features/datatransfer/jobs.py
  example_service/features/datatransfer/router.py
  example_service/features/datatransfer/service.py
  example_service/features/datatransfer/validators.py
  example_service/features/datatransfer/webhooks.py
  tests/unit/test_features/test_datatransfer_importers.py
  tests/unit/test_features/test_datatransfer_schemas.py
  tests/unit/test_features/test_datatransfer_settings.py
Due: no-http-exception, logging-pattern-check, openapi-docs-check

fix: update tests and ACLChecker for ACL-based auth
  example_service/core/acl/checker.py
  tests/unit/test_features/test_storage/test_router.py
Due: none

refactor: improve exception handling and logging in middleware and exception handlers
  example_service/app/exception_handlers.py
  example_service/app/middleware/rate_limit.py
  example_service/app/middleware/request_logging.py
  example_service/app/middleware/tenant.py
  example_service/core/database/tenancy.py
Due: none

refactor: simplify middleware configuration and enhance logging
  example_service/app/main.py
  example_service/app/middleware/__init__.py
  example_service/app/router.py
Due: none

refactor: enhance email router responses and improve type safety
  example_service/features/admin/email/router.py
  example_service/features/audit/repository.py
  example_service/features/audit/schemas.py
  example_service/features/datatransfer/exporters.py
  example_service/features/datatransfer/service.py
  example_service/infra/tasks/tracking/base.py
  example_service/infra/tasks/tracking/postgres_tracker.py
  example_service/infra/tasks/tracking/redis_tracker.py
  tests/unit/test_features/test_audit/test_repository.py
Due: no-http-exception, logging-pattern-check, openapi-docs-check

refactor: introduce result threshold for suggestions in search service
  example_service/features/admin/email/router.py
  example_service/features/datatransfer/service.py
  example_service/features/search/service.py
Due: no-http-exception, logging-pattern-check, openapi-docs-check

feat(search): add comprehensive search enhancements
  example_service/features/search/__init__.py
  example_service/features/search/circuit_breaker.py
  example_service/features/search/config.py
  example_service/features/search/experiments.py
  example_service/features/search/intent.py
  example_service/features/search/profiler.py
  example_service/features/search/ranking.py
  example_service/features/search/router.py
  example_service/features/search/schemas.py
  example_service/features/search/service.py
  example_service/features/search/vector.py
  tests/unit/test_features/test_search_enhancements.py
Due: no-http-exception, logging-pattern-check, openapi-docs-check

feat(tasks): add task timeout, deduplication, DLQ, bulk operations, and progress tracking
  example_service/core/settings/tasks.py
  example_service/features/tasks/__init__.py
  example_service/features/tasks/router.py
  example_service/features/tasks/schemas.py
  example_service/features/tasks/service.py
  example_service/infra/tasks/broker.py
  example_service/infra/tasks/middleware.py
  tests/unit/test_features/test_tasks_service.py
Due: no-http-exception, logging-pattern-check, openapi-docs-check

feat(ai): add rate limiting, cost estimation, and improved cancellation
  example_service/core/settings/ai.py
  example_service/features/ai/pipeline/router.py
  example_service/features/ai/pipeline/schemas.py
Due: no-http-exception, openapi-docs-check

feat(cli): add comprehensive CLI commands for AI, webhooks, audit, email, and feature flags
  example_service/cli/commands/__init__.py
  example_service/cli/commands/ai.py
  example_service/cli/commands/audit.py
  example_service/cli/commands/email.py
  example_service/cli/commands/featureflags.py
  example_service/cli/commands/webhooks.py
  example_service/cli/main.py
Due: none

feat(graphql): add AI, Tasks, and Search features to GraphQL API
  example_service/core/settings/graphql.py
  example_service/features/graphql/config.py
  example_service/features/graphql/dataloaders/__init__.py
  example_service/features/graphql/dataloaders/ai.py
  example_service/features/graphql/resolvers/ai_mutations.py
  example_service/features/graphql/resolvers/ai_queries.py
  example_service/features/graphql/resolvers/feature_registry.py
  example_service/features/graphql/resolvers/search_queries.py
  example_service/features/graphql/resolvers/tasks_mutations.py
  example_service/features/graphql/resolvers/tasks_queries.py
  example_service/features/graphql/types/ai.py
  example_service/features/graphql/types/search.py
  example_service/features/graphql/types/tasks.py
Due: none

feat(ai): add comprehensive observability for logs, metrics, and traces
  example_service/infra/ai/instrumented_orchestrator.py
  example_service/infra/ai/observability/__init__.py
  example_service/infra/ai/observability/logging.py
  example_service/infra/ai/observability/metrics.py
  example_service/infra/ai/observability/tracing.py
  tests/unit/test_infra/test_ai/test_observability.py
Due: none

feat(deps): add missing service dependencies to core/dependencies
  example_service/core/dependencies/__init__.py
  example_service/core/dependencies/ai.py
  example_service/core/dependencies/discovery.py
  example_service/core/dependencies/email.py
  example_service/core/dependencies/messaging.py
  example_service/core/dependencies/realtime.py
  example_service/core/dependencies/storage.py
  example_service/core/dependencies/tasks.py
  example_service/core/dependencies/tracing.py
Due: none

fix(deps): correct dependency injection for broker, email, and realtime services
  example_service/core/dependencies/email.py
  example_service/core/dependencies/messaging.py
  example_service/core/dependencies/realtime.py
Due: none

refactor(dependencies): clean up __all__ exports in __init__.py
  example_service/core/dependencies/__init__.py
Due: none

feat(acl): add ACL permission constants and utilities
  example_service/core/acl/__init__.py
  example_service/core/acl/constants.py
Due: none

feat(ai): add comprehensive AI agent framework with observability
  alembic/versions/20251209_0001_add_ai_agent_tables.py
  example_service/core/database/enums.py
  example_service/features/ai/agents/__init__.py
  example_service/features/ai/agents/router.py
  example_service/infra/ai/__init__.py
  example_service/infra/ai/agents/__init__.py
  example_service/infra/ai/agents/base.py
  example_service/infra/ai/agents/models.py
  example_service/infra/ai/agents/observability.py
  example_service/infra/ai/agents/run_manager.py
  example_service/infra/ai/agents/tools.py
  tests/unit/test_infra/test_ai/test_agents/__init__.py
  tests/unit/test_infra/test_ai/test_agents/test_base.py
  tests/unit/test_infra/test_ai/test_agents/test_tools.py
Due: no-http-exception, openapi-docs-check

feat(ai): add memory, state, structured output, workflows, and analytics
  example_service/infra/ai/agents/__init__.py
  example_service/infra/ai/agents/analytics.py
  example_service/infra/ai/agents/memory.py
  example_service/infra/ai/agents/state_store.py
  example_service/infra/ai/agents/structured_output.py
  example_service/infra/ai/agents/workflows.py
Due: none

feat(ai): add memory, state, structured output, workflows, and analytics
  example_service/core/database/enums.py
  example_service/features/ai/agents/analytics_router.py
  example_service/features/ai/agents/memory_router.py
  example_service/features/ai/agents/workflow_router.py
  example_service/infra/ai/agents/__init__.py
  example_service/infra/ai/agents/workflow_models.py
  tests/unit/test_infra/test_ai/test_agents/test_analytics.py
  tests/unit/test_infra/test_ai/test_agents/test_memory.py
  tests/unit/test_infra/test_ai/test_agents/test_state_store.py
  tests/unit/test_infra/test_ai/test_agents/test_structured_output.py
  tests/unit/test_infra/test_ai/test_agents/test_workflows.py
Due: none

feat(ai): add Redis state store integration and GraphQL workflow schema
  example_service/features/graphql/config.py
  example_service/features/graphql/resolvers/feature_registry.py
  example_service/features/graphql/resolvers/workflows_mutations.py
  example_service/features/graphql/resolvers/workflows_queries.py
  example_service/features/graphql/types/workflows.py
  example_service/infra/ai/__init__.py
  example_service/infra/ai/agents/__init__.py
  example_service/infra/ai/agents/state_store.py
Due: none

Path conditions:
  no-http-exception: any of: ^example_service/features/.*/router\.py$
  logging-pattern-check: any of: ^example_service/features/.*/service\.py$
  openapi-docs-check: any of: ^example_service/features/.*/router\.py$
